doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='/js/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  body
    include ./nav.jade
    
    //- alerts
    div.alert.alert-dismissible.alert-info(role='alert')
      button.close(type='button' data-dismiss='alert')
        span(aria-hidden='true') &times;
        span.sr-only Close
      strong Yo
      | This is some sort of message.


    div#content
      block content

    script(src='/js/app.js')
