extends layout

block content
    h1= title
    
    ul
        each run in runs
            li
                p date:
                    = run.date
                p distance:
                    = run.distance
                p distance:
                    = run.distance
                //- = run
                //- = run.date
                //- = run.distance
                //- = run.rating
