div.container-fluid
    ul.nav.nav-pills
        -var url = '/';
        li(class=(page === url ? 'active' : ''))
            a(href=url) Log Run
        -var url = '/list';
        li(class=(page === url ? 'active' : ''))
            a(href=url) History
        -var url = '/stats';
        li(class=(page === url ? 'active' : ''))
            a(href=url) Stats