body {
    font-family: monospace;
}

#content {
    width: 500px;
    margin: auto;
}

form {
    display: inline-block;
    width: 300px;
    
}

div.field {
    position: relative;
    clear: both;
}

div.field label {

}

div.field input {
    float: right;
}

div#msg-container {
    height: 3em;
    padding: 1em;
}
div#message {
    font-style: italic;
    text-align: center;
}