body {
    font-family: monospace;
    background-color: #FFF;
}

#content {
    width: 500px;
    margin: auto;
    background-color: rgba(201, 209, 201, 1);
    padding: 1.5em;
    border-radius: 0.5em;
}

h1 {
    padding: 0;
    margin: 0;
}

form {
    display: inline-block;
    width: 300px;
    
}

div.field {
    position: relative;
    clear: both;
}

div.field label {

}

div.field input {
    float: right;
}

div#msg-container {
    height: 3em;
    padding: 1em;
}
div#message {
    font-style: italic;
    text-align: center;
}